body {
    color: #444;
    background-color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a {
    color: #6db33f;
}

section {
    background: #fff;
}

th {
    border: 1px solid #ccc;
    background-color: #5aaa29;
    color: #fff;
}

td {
    border: 1px solid #ccc;
}

textarea {
    border: 1px solid #ccc;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #e6e6e6;
    border-color: #adadad;
    opacity: .6;
}

input[type="submit"] {
    background-color: #fff;
    border-radius: 3em;
    font-weight: 700;
    padding: 1em 3em;
    color: #6db33f;
    text-decoration: none;
    font-size: medium;
    line-height: 1.33333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    white-space: nowrap;
}